
.footer {
    background-color:  #F5E050;
    padding: 1rem 1rem;
    text-align: center;
    color:black;
    margin-top: 230px;
    border-radius: 1rem;
    padding-top: 3%;
    
  }
  
  .footer .link {
    color: black;
  }
  .footer .footer-header {
    font-weight: bold;
    font-size: 101%;
  }
  
  .footer ul {
    padding-inline-start: 0px;
  }
  .upper {
    margin-top: 100px;
  }
  .list-non-bullet {
    list-style: none;
  }
  
  .list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    size: 100px;
  }
  .link {
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  .container {

    padding: 0rem 1rem;

}

.container-center {

    max-width: 600px;
    margin: auto;
}

.list-item-inline{
    display: inline;
    padding:3rem;
}

/* link */

.link {
    text-decoration: none;
    padding: 0.3rem 0.3rem;
    margin:0.5rem o.5rem;
    color:black;
    
}


.link-primary {

    background-color: red;

    border-radius: 0.3rem;
    color: white;
    
    

}

.link-secondary {

    border: 1px solid #4d61fc;
    color: var(--primary-color);
    border-radius: 0.5rem;



}

.list-non-bullet {
    list-style: none;
}



.navigation {
    background-color: #F5E050;
    color: rgb(0, 0, 0);
    padding: 0.3rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    /* border-top-left-radius: 0.6rem; */
    


}
ul{
    margin-block-start:0em;
    padding-inline-start: 0px;
}

.navigation .nav-pills {
    text-align: left;
}

.navigation .nav-brand {
    font-weight: bolder;
    font-size: 1.1rem;
    text-align: center;
    font-size:200%;
    margin-bottom:1rem;
    

    
}

.nav-pills .link {
    color: white;
}

.navigation .link-active {
    font-weight: bolder;
}
  